<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-button>
        <img src="https://firebasestorage.googleapis.com/v0/b/barberhub-8f18e.appspot.com/o/logobp.png?alt=media&token=9659db60-f28a-4b1e-a235-d95b78007588" alt="">
      </ion-button>
      <ion-button style="color:aliceblue;" [routerLink]="['']">
        Horarios
      </ion-button>
      <ion-button style="color:aliceblue;" [routerLink]="['']">
        Barberos
      </ion-button>
      <ion-button style="color:aliceblue;" [routerLink]="['']">
        Servicios
      </ion-button>
      <ion-button style="color:aliceblue;" [routerLink]="['']">
        Galería
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button style="color:aliceblue;" [routerLink]="['/login']">
        Ingresar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
</ion-content>
